extends common/layout
block content
	div(class='row wrapper')
		div(class='col-xs-12')
			div(class='content')
				div(class='blog_row')
					div(class='blog_top')
						img(src='http://www.gravatar.com/avatar/8b801bb6de1a876f7df749cedb8994a6?s=48' title='ideas')
						a 作者
						span
							b 标题
					div(class='blog_content')
						p contentcontentcontentcontentcontentcontentcontent123123211111111111111111111111111111111
					div(class='blog_btm')
						ul
							li
								a up
							li
								a down
						ul(class='blog_btm_comm')
							li comments
	include common/footer
	script(src='js/jquery-1.8.3.min.js')
	script(src='js/jquery-ui-1.10.3.custom.min.js')
	script(src='js/bootstrap-select.js')
	script(src='js/bootstrap-switch.js')
	script(src='js/flatui-checkbox.js')
	script(src='js/flatui-radio.js')
	script(src='js/jquery.tagsinput.js')
	script(src='js/jquery.placeholder.js')
