extends ./layout
block content
	div(class='container')
		address
			strong University:中国海洋大学
				br
			strong Address:青岛市崂山区松岭路238号
				br
			strong College:中国海洋大学信息工程与科学学院
				br
			strong Email:gao_chenfei@163.com
				br
			strong phone:15966947713
	include ../common/footer
